.search-flow {
    display: block;
    border-radius: 10px;
    border: 1px solid #61a8bd;
    padding: 10px;
}

.search-flow_parameters {
    padding: 5px;
}

.search-flow_parameter {
    display: inline-block;
    margin-right: 10px;
    background-color: #ece6e6;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.search-flow_queries {
    min-height: 35px;
}

.search-flow_select-parameter {
    display: inline-block;
    position: absolute;
    padding: 5px;
}

.search-flow_search-query {
    height: 22px;
    padding: 3px 10px;
    background-color: #2185d0;
    display: inline-block;
    border-radius: 14px;
}

.search-flow_title {
    color: #d4d4d4;
    float: left;
    padding: 2px;
    margin-right: 5px;
}

.search-flow_value {
    float: left;
    color: #fff;
}

.search-flow_remove {
    float: left;
    padding: 2px 5px 2px 10px;
}

.search-flow_remove:after {
    content: '\00d7';
    cursor: pointer;
}

.search-flow_add {
    display: inline-block;
    position: absolute;
    padding: 5px;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

.search-flow_add:focus {
    //outline: none;
}

.search-flow_add.search-flow_add-hidden {
    opacity: 0;
    width: 0;
    pointer-events: none;
}

.search-flow_input {
    background: none;
    border: none;
    font: inherit;
    display: inline-block;
    color: #fff;
    width: 5px;
    padding: 2px;
}

.search-flow_input::-webkit-input-placeholder {
    color: #d2cfcf;
}

.search-flow_input:focus {
    border: none;
    outline: 0;
}

.search-flow_parameter_input {
    display: inline-block;
    position: absolute;
    padding: 2px;
}

.search-flow_parameter_input .search-flow_input {
    color: #000;
}

.search-flow_dropdown {
    position: absolute;
    margin-top: 8px;
    width: 100px;
    max-height: 400px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: rgba(193, 193, 193, 0.64) 1px 2px 1px 0px;
    border-radius: 5px;
}
.search-flow_dropdown-option, .search-flow_dropdown-no-results {
    color: #000;
    padding: 5px;
}

.search-flow_dropdown-option-active {
    background-color: #2185d0;
    color: #fff
}

.search-flow_dropdown:after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #d4d4d4;
    top: -5px;
    content: '';
    left: 15px;
    margin-left: -5px;
    position: absolute;
}

/* Styling for second triangle (border) 

.search-flow_dropdown:before {
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 23px solid;
    border-top-color: inherit;
    top: -23px;
    margin-left: -23px;
}
*/