@import "variables",
        "mixins";

// Structure


.search-flow {
    display: block;
    border-radius: 8px;
    border: 1px solid #61a8bd;
    padding: 16px;
    font-family: -apple-system, 
            BlinkMacSystemFont, 
            "Segoe UI", 
            Roboto, 
            Oxygen-Sans, 
            Ubuntu, 
            Cantarell, 
            "Helvetica Neue", 
            sans-serif;
    font-size: 12px;
}

.search-flow {
    * {
        box-sizing: border-box;
    }
}

.search-flow_parameters {
    padding: 4px;
}

.search-flow_parameter {
    display: inline-block;
    margin-left: 4px;
    background-color: rgba(0,0,0, 0.05);
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0,0,0, 0.10);
    }
}

.search-flow_parameter_input {
    padding: 2px;

    .search-flow_input {
        color: #000;
    }
    .search-flow_dropdown__bg {
        transform: translateX(0);
    }
}

.search-flow_queries {
    display: flex;
    flex-direction: $vertical-layout;
    flex-wrap: wrap;
}

.search-flow__query {
    height: 28px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0 12px;
    background-color: $cobaltBlue;
    border-radius: 50px;
    line-height: 28px;
    color: #FFF;

    &-title {
        display: inline-block;
        margin-right: 4px;
    }

    &-value {
        display: inline-block;
        color: #fff;
    }

    &-remove {
        display: inline-block;
        
        &:after {
            content: '\00d7';
            cursor: pointer;
        }
    }
}

.search-flow_add {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 28px;
    min-width: 100px;
    margin-bottom: 4px;
    padding: 0 8px;
    border: none;
    background: none;
    font: inherit;
    line-height: 28px;
    cursor: pointer;

    :focus,
    :active {
        outline: none;
    }

    &.search-flow_add-hidden {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        pointer-events: none;
    }

    .add-icon {
        height: 18px;
        width: 18px;
        margin-right: 4px;
    }
}

.search-flow_input {
    background: none;
    border: none;
    font: inherit;
    color: #fff;
    width: 4px;
    padding: 0;
    
    &:focus {
        border: none;
        outline: 0;
    }
    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .75);
    }
}

.search-flow_dropdown__bg {
    position: absolute;
    background: #fff;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(193, 193, 193, 0.32);
    transform: translateX(-12px);
}

.search-flow_dropdown__arrow {
    position: absolute;
    top: -6px;
    left: 12px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 0 0 0;
    background: #fff;
}

.search-flow_dropdown {
    position: relative;
    background: #fff;
    padding: 4px;
    min-width: 100px;
    max-height: 400px;
    border-radius: 4px;
}

.search-flow_dropdown-option, 
.search-flow_dropdown-no-results {
    color: #000;
    border-radius: 2px;
    padding: 4px;
    line-height: 16px;
    cursor: pointer;
}

.search-flow_dropdown-option-active {
    background-color: $cobaltBlue;
    color: #fff;
}